name: Nativevotes Autobuild
# modified from https://github.com/nosoop/NinjaBuild-SMPlugin/blob/master/contrib/github-workflow/build-on-version-tag-push.yml

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
  workflow_dispatch:

jobs:
  run:
    name: Run action
    runs-on: ubuntu-latest

    # skip build on '[ci skip]'
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - name: Download dependencies
      shell: bash
      run: |
        mkdir -p addons/sourcemod/scripting/include/ripext
        curl -o addons/sourcemod/scripting/include/ripext.inc https://raw.githubusercontent.com/ErikMinekus/sm-ripext/main/pawn/scripting/include/ripext.inc
        curl -o addons/sourcemod/scripting/include/ripext/http.inc https://raw.githubusercontent.com/ErikMinekus/sm-ripext/main/pawn/scripting/include/ripext/http.inc
        curl -o addons/sourcemod/scripting/include/ripext/json.inc https://raw.githubusercontent.com/ErikMinekus/sm-ripext/main/pawn/scripting/include/ripext/json.inc
        mkdir -p addons/sourcemod/scripting/include/multicolors
        curl -o addons/sourcemod/scripting/include/multicolors.inc https://raw.githubusercontent.com/Bara/Multi-Colors/master/addons/sourcemod/scripting/include/multicolors.inc
        curl -o addons/sourcemod/scripting/include/multicolors/colors.inc https://raw.githubusercontent.com/Bara/Multi-Colors/master/addons/sourcemod/scripting/include/multicolors/colors.inc
        curl -o addons/sourcemod/scripting/include/multicolors/morecolors.inc https://raw.githubusercontent.com/Bara/Multi-Colors/master/addons/sourcemod/scripting/include/multicolors/morecolors.inc

    - name: Setup SourcePawn 1.13 Compiler
      uses: rumblefrog/setup-sp@master
      with:
        version: "1.13.x"

    - name: Compile plugins 1.13
      shell: bash
      run: |
        bash .github/nv_compile.sh
        bash

    - name: Set Commit Hash
      id: commit_info
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: workflow-build${{ github.run_number }}
        release_name: Build ${{ steps.commit_info.outputs.sha_short  }}
        draft: false
        prerelease: false

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: workflow-build${{ github.run_number }}
        files: build/nativevotes*

